body {
    margin: 0;
    padding: 0;
    background-color: black; 
    color: black;  
    /* background-image: url(/clue/especificos/imagenes/bosque.jpeg); 
    /* background-size: cover;  */
    /* background-position: top center; 
    background-attachment:scroll; */
    background-repeat: no-repeat; 
    background-size: auto; 
    background-position: center top; /* Centra la imagen de fondo en horizontal y la posiciona en la parte inferior */
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: right; 
    min-height: 100vh;
}

h2 {
    text-align: center; /* Centra el texto */
    background-color: rgb(32, 32, 5,.8);
    color: white;
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3e8e41;
}

.custom-button {
    /* Estilos personalizados para los botones */
    background-color: #8e44ad;
    color: white;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.custom-button:hover {
    background-color: #7d3c98;
}
select {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color:#8e44ad;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

select:hover {
    background-color: #14071a;
}
